---
import ReferenceLine from "@common/ReferenceLine.astro";
import { GithubIcon } from "@common/Icons/GithubIcon.tsx";
import { PortfolioIcon } from "@common/Icons/PortfolioIcon.tsx";

interface IOption {
  id: string;
  href: string;
  name: string;
}

const OPTIONS: IOption[] = [
  {
    id: "calc-compute",
    href: "/css-compute-calc",
    name: "CSS calc() compute",
  },
  {
    id: "polka-dot-generator",
    href: "/css-polka-dot-generator",
    name: "CSS polka dot generator",
  },
  {
    id: "hatching-pattern-generator",
    href: "/css-hatching-pattern-generator",
    name: "CSS hatching pattern generator",
  },
  {
    id: "grid-pattern-generator",
    href: "/css-grid-pattern-generator",
    name: "CSS grid pattern generator",
  },
];
---

<nav
  class="w-full overflow-hidden border-bg-content/50 max-md:mt-2 md:border-r md:h-screen md:w-72"
>
  <header
    class="min-h-16 md:min-h-header grid grid-cols-[1fr_auto] grid-rows-[1fr_auto] md:grid-rows-[1fr_1fr_auto] md:grid-cols-1 w-full px-2 items-center"
  >
    <h1 class="text-3xl xs:text-4xl md:text-xl font-medium md:text-center md:self-end">
      WebDevTools
    </h1>
    <ul
      class="flex space-x-4 items-center justify-center md:self-start md:mt-2"
    >
      <li>
        <a
          href="https://github.com/yet3/web-dev-tools"
          rel="noopener noreferrer"
          target="_blank"
        >
          <GithubIcon />
        </a>
      </li>
      <li>
        <a
          href="https://www.maxkasperowicz.com/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <PortfolioIcon />
        </a>
      </li>
    </ul>
    <ReferenceLine opacity={0.75} class="mt-auto col-span-full" />
  </header>

  <ul class="px-2 grid content-start overflow-y-auto h-full max-md:mb-4 max-md:max-h-48">
    {
      OPTIONS.map((opt) => (
        <li>
          <div class="py-2 px-1 grid grid-cols-[auto_1fr] items-center">
            {Astro.url.pathname.includes(opt.href) && (
              <div class="size-2 bg-bg-content rounded-full mr-2" />
            )}
            <a href={opt.href}>{opt.name}</a>
          </div>
          <ReferenceLine opacity={0.2} />
        </li>
      ))
    }
  </ul>

</nav>

<script></script>
