@import "./theme.css";
@import "./fonts.css";
@import "./utils/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", Arial, Helvetica, sans-serif;
}


/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-bg-content);
	border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-bg-content);
}
